/* Подключение Web шрифтов */

@font-face {
    font-family: 'PTSans-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff2') format('woff');
}

@font-face {
    font-family: 'PTSans-Bold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}


/* Стили */

* {
    box-sizing: border-box;
}

body {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    color: #333;
    background-color: #f2f2f2;
}

p {
    margin: 0;
    word-wrap: break-word;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
}

h2 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
}

.results-icon {
    display: inline-block;
    width: 18px;
    height: 17px;

    fill: #abcce1;
    stroke-width: 0;
    stroke: #abcce1;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.container {
    position: relative;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}

.menu li {
    float: left;
    width: 20%;
}

.menu li:nth-child(2) {
    margin-right: 20%;
}

.menu .menu-central {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu a {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.menu a:hover {
    color: #81b3d2;
}

.menu a:active {
    color: rgba(0, 0, 0, .3);
}

.menu .menu-central a {
    padding: 0;
}

.main-headers {
    position: relative;
    height: 512px;
    padding-top: 78px;
    padding-bottom: 85px;
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.main-headers::after {
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 37px;
    content: '';
    background-image: url(../img/shape768.png);
    background-size: 100% 100%;
}

.main-headers-welcome {
    width: 256px;
    height: 85px;
    margin: auto;
}

.main-headers__sedona {
    width: 460px;
    height: 80px;
    margin: auto;
    margin-top: 48px;
}

.main-headers__because {
    width: 298px;
    height: 80px;
    margin: auto;
    margin-top: 55px;
}

.main-title {
    padding-top: 57px;
    padding-bottom: 50px;
}

.main-title h1 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    max-width: 444px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.main-title span {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: block;
    margin-top: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.main-white {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
    max-width: 155px;
    text-transform: uppercase;
    color: #fff;
}

.main-descr {
    width: 34%;
    padding: 48px 39px 39px 37px;
    text-align: center;
    background-color: #81b3d2;
}

.main-descr-photo {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.main-span-white,
.main-paragraph-white {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.main-content-row {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}

.main-content-row img {
    max-width: 100%;
    height: 100%;
}

.main-black {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
    max-width: 110px;
    text-transform: uppercase;
    color: #000;
}

.main-paragraph-black {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 22px;
    text-transform: uppercase;
    color: #333;
}

.main-advantage {
    float: left;
    width: calc(100%/3);
    padding: 160px 47px 60px 47px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 60px;
}

.main-advantage__housing {
    background-image: url(../img/home.png);
}

.main-advantage__food {
    background-image: url(../img/burger.png);
}

.main-advantage__gift {
    background-image: url(../img/gift.png);
}

.main-advantages__grey {
    background-color: #eee;
}

.main-advantages__grey .main-advantage {
    padding: 46px 49px 40px 49px;
}

.main-span-black {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    margin-top: 18px;
    text-transform: uppercase;
    color: #333;
}

.main-feedback {
    padding-top: 52px;
}
.main-feedback__title {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    display: block;
    margin-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.main-feedback__descr {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

@keyframes show {
  0% {
    -ms-transform: scaleY(0) translate(-50%, 0);
    transform: scaleY(0) translate(-50%, 0);
  }
  50% {
    -ms-transform: scaleY(1) translate(-50%, 20%);
    transform: scaleY(1) translate(-50%, 20%);
  }
  70% {
    -ms-transform: scaleY(.8) translate(-50%, 0);
    transform: scaleY(.8) translate(-50%, 0);
  }
  90% {
    -ms-transform: scaleY(1) translate(-50%, 10%);
    transform: scaleY(1) translate(-50%, 10%);
  }
  100% {
    -ms-transform: scaleY(1) translate(-50%, 0);
    transform: scaleY(1) translate(-50%, 0);
  }
}

.main-form-wrap {
    max-width: 568px;
    padding: 53px;
    margin: auto;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    left: 50%;
    transform: translate(-50%, 0);
}

.popup-show {
    animation: show .75s forwards;
    transform-origin: top;
    display: block;
}

.popup-hide {
    display: none;
}

.main-form-wrap label {
    color: black;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    min-width: 109px;
    display: inline-block;
    vertical-align: middle;
}
.main-input {
    color: #000000;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 6px 12px;
    background-color: #f2f2f2;
    width: 76%;
    max-width: 345px;
    display: inline-block;
    vertical-align: middle;
}
.small-input {
    width: 45px;
    padding: 0;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}

.main-counter {
    background-color: #f2f2f2;
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.minus::before {
    content: '-';
    height: 3px;
    width: 12px;
    color: #a9a9a9;
    line-height: 36px;
}

.plus {
    margin-right: 0;
}

.plus::before {
    content: '+';
    height: 11px;
    width: 11px;
    color: #a9a9a9;
    line-height: 36px;
}

.main-form-divider {
    margin-bottom: 28px;
}

.main-children {
    float: right;
}

.main-children label {
    min-width: 55px;
}

.main-adults {
    float: left;
}

.main-form__btn {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    margin: auto;
    padding: 30px 139px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #766357;
    max-width: 568px;
}

.main-form__btn:hover {
    background-color: #604e43;
}

.main-form__btn:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.main-submit {
    background-color: #81b3d2;
    padding: 18px calc((100% - 67px) / 2);
    text-align: center;
    color: white;
    font-family: "PTSans-Bold", sans-serif;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 55px;
}

.main-submit:hover {
    background-color: #669ec0;
}

.main-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.main-map {
    height: 594px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding: 37px 100px 38px 130px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer.hotels-footer {
    position: static;
}

.footer-visit {
    width: 41%;
    float: left;
    max-width: 394px;
    min-width: 140px;
}

.footer-socials {
    float: left;
}

.footer-copy {
    float: right;
}

.footer-visit__btn {
    display: block;
    color: black;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.socials-item {
    display: inline-block;
    margin-right: 4px;
}

.socials-item:last-child {
    margin-right: 0;
}

.footer-link {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.footer-link:hover {
    background-color: #669ec0;
}

.footer-link:active {
    background-color: #5496bd;
}

.text-hide {
    visibility: hidden;
}

.twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.twitter:active {
    background-image: url(../img/twitter-active.png);
}

.facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.facebook:active {
    background-image: url(../img/facebook-active.png);
}

.youtube {
    background-image: url(../img/youtube.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.youtube:active {
    background-image: url(../img/youtube-active.png);
}

.footer-copy__author {
    color: #000000;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.footer-copy-logo {
    display: inline-block;
    vertical-align: middle;
}

.menu .menu-link-active, .menu .menu-link-active:hover, .menu .menu-link-active:active {
    color: #766357;
}

.main-filter {
    background-image: url(../img/top_bg.jpg);
    padding: 28px 0 32px 0;
}

.inner-container {
    max-width: 1086px;
    padding: 0 15px;
    margin: auto;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    float: left;
}

.main-results {
    border-top: 1px solid #e8e8e8;
}

.results-item {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../img/bottom-line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.filter-check fieldset, .filter-check, .filter-range, .filter-range fieldset {
    float: left;
    width: 50%;
}

.filter-check fieldset:first-of-type {
    width: 49%;
}

.filter-check fieldset:nth-of-type(2) {
    width: 51%;
}

.filter-range fieldset {
    float: right;
    width: 100%;
    max-width: 318px;
}

.main-filter input[type="checkbox"] {
    display: none;
}

.main-filter label {
    display: block;
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 40px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    cursor: pointer;
}

.main-filter label:first-of-type {
    margin-bottom: 25px;
}

.main-filter label:nth-of-type(2) {
    margin-bottom: 25px;
}

.main-filter legend {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.filter-price {
    padding: 5px 0;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-bottom: 22px;
}

.filter-price input {
    display: inline-block;
    margin-right: -4px;
    border: 0;
    background-color: transparent;
    outline: 0;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.filter-min-price {
    width: 51%;
}

.filter-max-price {
    width: 50%;
}

.filter-price input::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.filter-price input::-moz-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    }
    /* Firefox 19+ */

.filter-price input:-moz-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    }
    /* Firefox 18- */

.filter-price input:-ms-input-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    }



.filter-price input:first-child {
    border-right: 2px solid #fff;
}

.main-filter input[type="checkbox"]:checked  + label {
    background-image: url(../img/checkbox-on.png);
}

.main-filter input[type="checkbox"][disabled] + label {
    background-image: url(../img/checkbox-off-disable.png);
    color: #6a6a6a;
}

.main-filter input[type="checkbox"][disabled]:checked + label {
    background-image: url(../img/checkbox-on-disabled.png);
}

.range-wide {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-selected {
    width: 254px;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 11px;
}

.range-circle {
    width: 20px;
    height: 22px;
    display: block;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.range-circle:hover {
    width: 22px;
    height: 24px;
}

.range-min-btn {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.range-max-btn {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.range-circle::before {
    content: '';
    background-color: #b5b5b5;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-range legend {
    margin-bottom: 10px;
}

.filter-range-line {
    margin-bottom: 30px;
}

.filter-submit {
    color: white;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    padding: 6px 34px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: all .5s ease;
}

.filter-submit:hover {
    color: #000000;
    background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .main-map img {
        height: 593px;
    }
    .main-headers {
        height: 508px;
        background-position: 0 -56px;
    }
    .main-headers::after {
        bottom: 0;
        height: 57px;
        background-image: url(../img/shape.png);
    }

    .main-descr {
        padding: 49px 41px 59px 41px;
        max-width: 400px;
    }

    .main-advantage {
        padding: 160px 47px 82px 47px;
    }

    .main-descr-first {
        padding-right: 59px;
        padding-left: 59px;
    }

    .main-advantages__grey .main-advantage {
        padding: 50px 70px 60px 70px;
    }
}
