/* Подключение Web шрифтов */
@font-face {
    font-family: 'PTSans-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff2') format('woff');
}
@font-face {
    font-family: 'PTSans-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
}

/* Стили */

* {
    box-sizing: border-box;
}
body {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    color: #333;
    background-color: #f2f2f2;
    position: relative;
}
p {
    margin: 0;
    word-wrap: break-word;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
}
h2 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}
img {
    display: block;
}
header .container,
main .container,
footer .container {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.results-icon {
    display: inline-block;
    width: 18px;
    fill: #abcce1;
    height: 17px;
    stroke-width: 0;
    stroke: #abcce1;
}
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}
.container {
    position: relative;
    margin: auto;
    background-color: #fff;
}
.menu {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}
.menu li {
    flex-basis: 20%;
}
.menu .menu-central {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}
.menu a {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.menu a:hover {
    color: #81b3d2;
}
.menu a:active {
    color: rgba(0, 0, 0, .3);
}
.menu .menu-central a {
    padding: 0;
}
.main-headers {
    position: relative;
    height: 512px;
    padding-top: 78px;
    padding-bottom: 85px;
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-headers::after {
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 37px;
    content: '';
    background-image: url(../img/shape768.png);
    background-size: 100% 100%;
}
.main-headers-welcome {
    width: 256px;
    height: 85px;
    margin: auto;
}
.main-headers__sedona {
    width: 460px;
    height: 80px;
    margin: auto;
    margin-top: 48px;
}
.main-headers__because {
    width: 298px;
    height: 80px;
    margin: auto;
    margin-top: 55px;
}
.main-title {
    padding-top: 57px;
    padding-bottom: 50px;
}
.main-title h1 {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    max-width: 444px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.main-title span {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: block;
    margin-top: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.main-white {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
    max-width: 155px;
    text-transform: uppercase;
    color: #fff;
}
.main-descr {
    width: 34%;
    padding: 48px 39px 39px 37px;
    text-align: center;
    background-color: #81b3d2;
}
.main-span-white,
.main-paragraph-white {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.main-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
}
.main-black {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
    max-width: 110px;
    text-transform: uppercase;
    color: #000;
}
.main-paragraph-black {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 22px;
    text-transform: uppercase;
    color: #333;
}
.main-advantage {
    flex-basis: calc(100% / 3);
    padding: 160px 47px 60px 47px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 60px;
}
.main-advantage__housing {
    background-image: url(../img/home.png);
}
.main-advantage__food {
    background-image: url(../img/burger.png);
}
.main-advantage__gift {
    background-image: url(../img/gift.png);
}
.main-advantages {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}
.main-advantages__grey {
    background-color: #eee;
}
.main-advantages__grey .main-advantage {
    padding: 46px 49px 40px 49px;
}
.main-span-black {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: block;
    margin-top: 18px;
    text-transform: uppercase;
    color: #333;
}
.main-feedback {
    padding-top: 52px;
}
.main-feedback__title {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    display: block;
    margin-bottom: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.main-feedback__descr {
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
@keyframes show {
    0% {
        -ms-transform: scaleY(0) translate(-50%, 0);
        transform: scaleY(0) translate(-50%, 0);
    }
    50% {
        -ms-transform: scaleY(1) translate(-50%, 20%);
        transform: scaleY(1) translate(-50%, 20%);
    }
    70% {
        -ms-transform: scaleY(.8) translate(-50%, 0);
        transform: scaleY(.8) translate(-50%, 0);
    }
    90% {
        -ms-transform: scaleY(1) translate(-50%, 10%);
        transform: scaleY(1) translate(-50%, 10%);
    }
    100% {
        -ms-transform: scaleY(1) translate(-50%, 0);
        transform: scaleY(1) translate(-50%, 0);
    }
}
.main-form-wrap {
    max-width: 568px;
    padding: 55px;
    margin: auto;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    left: 50%;
}
.main-form {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popup-show {
    animation: show .75s forwards;
    transform-origin: top;
    display: block;
}
.popup-hide {
    display: none;
}
.main-form-wrap label {
    color: black;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    min-width: 109px;
    display: inline-block;
    vertical-align: middle;
}
.main-input {
    color: #000000;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 6px 12px;
    background-color: #f2f2f2;
    width: 76%;
    max-width: 345px;
    display: inline-block;
    vertical-align: middle;
}
.small-input {
    width: 45px;
    padding: 0;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.main-counter {
    background-color: #f2f2f2;
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 38px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}
.minus::before {
    content: '-';
    height: 3px;
    width: 12px;
    color: #a9a9a9;
    line-height: 36px;
}
.plus {
    margin-right: 0;
}
.plus::before {
    content: '+';
    height: 11px;
    width: 11px;
    color: #a9a9a9;
    line-height: 36px;
}
.main-form-divider {
    margin-bottom: 28px;
    flex-grow: 1;
}
.main-children label {
    min-width: 55px;
}
.main-form__btn {
    font-family: 'PTSans-Bold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    display: block;
    margin: auto;
    padding: 30px 139px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #766357;
    max-width: 568px;
}
.main-form__btn:hover {
    background-color: #604e43;
}
.main-form__btn:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.main-submit {
    width: 100%;
    margin-top: 55px;
    background-color: #81b3d2;
    font-family: "PTSans-Bold", sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 18px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.main-submit:hover {
    background-color: #669ec0;
}
.main-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.main-map {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer .container {
    padding: 35px 101px 38px 132px;
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
}
footer.hotels-footer {
    position: static;
}
.hotels-footer .container {
    background-color: #ffffff;
}
.footer-visit {
    max-width: 150px;
}
.footer-visit__btn {
    display: block;
    color: black;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}
.socials-item {
    display: inline-block;
    margin-right: 4px;
}
.socials-item:last-child {
    margin-right: 0;
}
.footer-link {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.footer-link:hover {
    background-color: #669ec0;
}
.footer-link:active {
    background-color: #5496bd;
}
.text-hide {
    visibility: hidden;
}
.twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.twitter:active {
    background-image: url(../img/twitter-active.png);
}
.facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook:active {
    background-image: url(../img/facebook-active.png);
}
.youtube {
    background-image: url(../img/youtube.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.youtube:active {
    background-image: url(../img/youtube-active.png);
}
.footer-copy__author {
    color: #000000;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.footer-copy-logo {
    display: inline-block;
    vertical-align: middle;
}
.menu .menu-link-active,
.menu .menu-link-active:hover,
.menu .menu-link-active:active {
    color: #766357;
}
.main-filter {
    background-image: url(../img/top_bg.jpg);
    padding: 28px 0 30px 0;
}
.inner-container {
    max-width: 1086px;
    padding: 0 15px;
    margin: auto;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.main-results {
    border-top: 1px solid #e8e8e8;
}
.results-item {
    padding-top: 30px;
    padding-bottom: 31px;
    background-image: url(../img/bottom-line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
.results-item .inner-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
}
.results-item-info {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;    
}
.results-item-info h2 {
    margin-bottom: 11px;
}
.results-item-img {
    margin-right: 30px;
}
.results-item__price {
    width: 113px;
    display: inline-block;
} 
.results-btn {
    color: #ffffff;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 17px;
}
.results-more {
    background-color: #81b3d2;
}
.results-order {
    background-color: #766357;
}
.filter-check {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}
.filter-check fieldset,
.filter-check,
.filter-range,
.filter-range fieldset {
    flex-basis: 50%;
}
.filter-check fieldset:first-of-type {
    flex-basis: 49%;
    max-width: 256px;
}
.filter-check fieldset:nth-of-type(2) {
    flex-grow: 1;
}
.filter-range fieldset {
    max-width: 318px;
    margin-left: auto;
}
.main-filter input[type="checkbox"] {
    display: none;
}
.main-filter label {
    display: block;
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 40px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    cursor: pointer;
}
.main-filter label:first-of-type {
    margin-bottom: 25px;
}
.main-filter label:nth-of-type(2) {
    margin-bottom: 25px;
}
.main-filter legend {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.filter-price {
    padding: 5px 0;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-bottom: 22px;
}
.filter-price input {
    display: inline-block;
    margin-right: -4px;
    border: 0;
    background-color: transparent;
    outline: 0;
    text-align: center;
    padding: 0 10px;
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.filter-min-price {
    width: 51%;
}
.filter-max-price {
    width: 50%;
}
.filter-price input::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.filter-price input::-moz-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

/* Firefox 19+ */
.filter-price input:-moz-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

/* Firefox 18- */
.filter-price input:-ms-input-placeholder {
    color: #ffffff;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.filter-price input:first-child {
    border-right: 2px solid #fff;
}
.main-filter input[type="checkbox"]:checked+label {
    background-image: url(../img/checkbox-on.png);
}
.main-filter input[type="checkbox"][disabled]+label {
    background-image: url(../img/checkbox-off-disable.png);
    color: #6a6a6a;
}
.main-filter input[type="checkbox"][disabled]:checked+label {
    background-image: url(../img/checkbox-on-disabled.png);
}
.range-wide {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range-selected {
    width: 254px;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 11px;
}
.range-circle {
    width: 20px;
    height: 22px;
    display: block;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.range-circle:hover {
    width: 22px;
    height: 24px;
}
.range-min-btn {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}
.range-max-btn {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}
.range-circle::before {
    content: '';
    background-color: #b5b5b5;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.filter-range legend {
    margin-bottom: 10px;
}
.filter-range-line {
    margin-bottom: 30px;
}
.filter-submit {
    color: white;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: transparent;
    padding: 6px 34px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: all .5s ease;
}
.filter-submit:hover {
    color: #000000;
    background-color: #ffffff;
}
.results-header {
    padding: 30px 0;
    background-image: url(../img/bottom-line.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
.results-header .inner-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.results-found {
    color: #000;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    flex-basis: 163px;
}
.result-sort {
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    cursor: pointer;
}
.results-sort-title {
    display: inline-block;
    color: #000000;
    font-family: "PTSans-Bold", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 112px;
}
.result-sorters {
    flex-grow: 1;
}
.result-sort-increase {
    border-top: 0;
    border-bottom: 10px solid #cacaca;
}
.result-sort-decrease {
    border-top: 10px solid #81b3d2;
    border-bottom: 0;
    margin-left: 8px;
}
.result-sorters-link {
    opacity: 0.3;
    color: black;
    font-family: 'PTSans-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 30px;    
}
.result-sorters-link__active {
    color: #81b3d2;
    opacity: 1;
}
.results-rating {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.results-rating__total {
    display: block;
    background-color: #f2f2f2;
    color: #666;
    font-family: "PTSans-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    padding:3px 12px 3px 15px;
}

.results-list-star {
    display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    margin-right: 1px;
}
.results-list-star:last-of-type {
    margin-right: 0;
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .main-map img {
        height: 593px;
    }
    .main-headers {
        height: 508px;
        background-position: 0 -56px;
    }
    .main-headers::after {
        bottom: 0;
        height: 57px;
        background-image: url(../img/shape.png);
    }
    .main-descr {
        padding: 49px 41px 59px 41px;
        max-width: 400px;
    }
    .main-advantage {
        padding: 160px 47px 82px 47px;
    }
    .main-descr-first {
        padding-right: 59px;
        padding-left: 59px;
    }
    .main-advantages__grey .main-advantage {
        padding: 50px 70px 60px 70px;
    }
}