/* Подключение Web шрифтов */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Стили */

* {
    box-sizing: border-box;
}

body {
    color: #323232;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Roboto-Bold", sans-serif;
    background-color: #abcce1; /* Временый фон */
}
h2 {
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    background-color: #abcce1; /* Временый фон */
}