/* Подключение Web шрифтов */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto.woff2') format('woff2'),
    url('../fonts/roboto.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Стили */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #323232;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.outer-wrapper {
    background-color: #849d8f;
    background-image: url(../img/icecream1.png);
    background-repeat: no-repeat;
    background-position: center top;
    transition: background-image 0.3s ease,
    background-color 0.3s ease;
}

.inner-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Roboto-Bold", sans-serif;
}

h2 {
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

h3 {
    margin: 0;
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

fieldset {
    border: 0;
}

header, main, footer {
    width: 100%;
    padding: 0 27px;
}

header {
    padding-top: 9px;
}

img {
    display: inline-block;
}

.header-logo, nav {
    float: left;
}

.header-logo {
    margin-right: 10px;
}

nav {
    width: 60%;
    max-width: 680px;
    padding-top: 13px;
}

.nav-menu__item {
    float: left;
    position: relative;
    padding: 6px 14px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.nav-menu__item a {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: rgba(255, 255, 255, 0.2);
    text-underline-position: under;
}

.nav_menu__active {
    background-color: #d07058;
    border-radius: 50px;
    text-decoration: none;
}

.nav-submenu__item a {
    padding: 8px 14px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: rgba(255, 255, 255, 0.2);
}

.nav-menu__item:hover {
    background-color: #f7f6f3;
    border-radius: 50px;
}

.nav-menu__item:hover a {
    color: #323232;
}

.nav-submenu-wrap {
    padding-top: 4px;
    background-color: transparent;
    position: absolute;
    top: 33px;
    left: -6px;
    z-index: 1;
}

.nav-submenu {
    display: none;
    min-width: 142px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.nav-menu__catalog:hover .nav-submenu {
    display: block;
}

.nav-menu__item:last-of-type {
    margin-right: 0;
}

.header-info {
    width: 24%;
    max-width: 262px;
    padding-top: 15px;
}

.header-info__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

.header-info__item:nth-of-type(2) {
    margin-right: 5px;
}

.header-info__item:last-of-type {
    margin-right: 0;
}

.header-info__btn {
    color: #ffffff;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding-right: 10px;
    padding: 8px 18px 8px 42px;
}

.login-btn {
    background-image: url(../img/icon_login.png);
    background-repeat: no-repeat;
    background-position: 15px 5px;
}

.login-btn:hover {
    background-image: url(../img/icon_login_hover.png);
}

.basket-btn {
    width: 117px;
    background-image: url(../img/icon_basket.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

.basket-btn:hover {
    background-image: url(../img/icon_basket_hover.png);
}

.header-info__btn:hover {
    color: #323232;
}

.search_btn {
    font-size: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.search_btn:hover {
    background-color: #f8f7f4;
    background-image: url(../img/search-hover.png);
}

.header-info, .top-phone {
    float: right;
}

.top-phone {
    clear: right;
}

.top-phone span {
    display: block;
    color: #fff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.top-phone b {
    display: block;
    color: #fff;
    font-family: Roboto;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 22px;
    line-height: 24px;
    text-align: right;
}

.nav-submenu__item {
    padding: 0 6px;
}

.nav-submenu__item:hover {
    background-color: #fbded8;
}

.nav-submenu__item:active {
    background-color: #f6b5a5;
}

.nav-submenu__item a {
    display: block;
    color: #323232;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.nav-submenu__item:last-child a {
    padding: 8px 14px 10px 14px;
}

.nav-submenu__new a {
    font-family: "Roboto-Bold", sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #939290;
}

.header-info__search, .header-login, .header-cart {
    display: none;
}


main .container {
    padding-bottom: 30px;
    overflow: hidden;
}

main::after {
    content: '';
    display: block;
    height: 1px;
    opacity: 0.3;
    background-color: white;
}

.main-slider {
    min-height: 533px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: flex-end;
    padding-bottom: 40px;
    position: relative;
}

.main-slide {
    text-align: center;
    display: none;
    width: 100%;
}

.main-slide-container {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

.slider-control {
    position: absolute;
    left: 0;
    bottom: 55px;
}

.slider-controller {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
}

.slider-controller__third {
    margin-right: 0;
}

.btn {
    background-color: #fff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    display: inline-block;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    border-radius: 50px;
}

.main-slide__btn {
    padding: 0 42px 0 40px;
    line-height: 62px;
    font-size: 32px;
}

.main-slide__title {
    margin-bottom: 34px;
}

.btn:hover {
    background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
    box-shadow: 0 2px 2px #ac1000;
    color: #fff;
}

.btn:active {
    background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
    box-shadow: inset 0 2px 2px #942718;
    color: #fff;
}

input[name='slider-check'] {
    display: none;
}

input#slide1:checked ~ .outer-wrapper .slider-controller__first,
input#slide2:checked ~ .outer-wrapper .slider-controller__second,
input#slide3:checked ~ .outer-wrapper .slider-controller__third {
    background-color: #ffffff;
}

input#slide1:checked ~ .outer-wrapper .main-slide__first,
input#slide2:checked ~ .outer-wrapper .main-slide__second,
input#slide3:checked ~ .outer-wrapper .main-slide__third {
    display: block;
}

input#slide1:checked ~ .outer-wrapper {
    background-color: #849d8f;
    background-image: url(../img/icecream1.png);
}

input#slide2:checked ~ .outer-wrapper {
    background-color: #8996a6;
    background-image: url(../img/icecream2.png);
}

input#slide3:checked ~ .outer-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/icecream3.png);
}

.main-banners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.main-banner {
    width: calc(50% - 14px);
    float: left;
    padding: 16px 20px 20px 18px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner__title {
    margin-bottom: 15px;
}

.main-banner p {
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.main-banners__btn {
    padding: 12px 24px 16px 22px;
    border-radius: 50px;
    font-size: 18px;
}

.main-banner__raspberries {
    background-image: url(../img/raspberries.jpg);
}

.main-banner__chocolates {
    background-image: url(../img/chocolate.jpg);
}

.main-banners-button {
    text-align: right;
    margin-top: 45px;
}

.main-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icecream-item {
    position: relative;
    flex-basis: 25%;
    padding: 5px 9px 16px 9px;
    text-align: center;
    flex-grow: 1;
}

.icecream-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.icecream-item:hover  {
    cursor: pointer;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    margin-bottom: -50px;
    min-height: 404px;
}

.icecream-item:hover .icecream-view {
    display: inline-block;
}

.icecream-advantages {
    height: 310px;
}

.icecream-advantages p {
    width: calc(50% - 13px);
    display: inline-block;
}

.icecream-price {
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    line-height: 45px;
    font-size: 45px;
    position: absolute;
    top: 208px;
    left: 8px;
}

.icecream-descr {
    color: white;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(255, 255, 255, 0.2);
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: rgba(255, 255, 255, 0.2);
    text-underline-position: under;
    margin-bottom: 6px;
    display: inline-block;
}

.icecream-img {
    margin-bottom: 10px;
}

.icecream-view {
    background-color: #e84d37;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 1px 2px #ac1000;
    padding: 10px 16px;
    border-radius: 50px;
    display: none;
    font-size: 18px;
    line-height: 24px;
}

.icecream-content-item {
    width: 560px;
    display: inline-block;
    vertical-align: top;
    height: 225px;
}

.icecream-blog {
    margin-right: 18px;
}

.icecream-map .container {
    position: relative;
}

.icecream-map img {
    width: 100%;
    display: block;
    margin: auto;
}

.icecream-feedback {
    width: 302px;
    height: 305px;
    position: absolute;
    right: 27px;
    top: 60px;
}

.footer-socials {
    width: 190px;
    float: left;
    margin-right: 215px;
}

.footer-info {
    width: 330px;
    float: left;
}

.footer-copy {
    float: right;
    width: 190px;
}

.modal-feedback {
    display: none;
}

.footer-info__link {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 2px);
}

/* Catalog */

.catalog-outer-wrapper {
    background-image: none;
}

.breadcrumbs {
    width: 225px;
    float: left;
}

.breadcrumbs-item {
    display: inline-block;
}

.main-filter {
    width: 860px;
    margin-bottom: 40px;
}

.pagination {
    margin-top: 80px;
}

.pagination-item {
    display: inline-block;
}

.pagination ul {
    width: 190px;
    float: right;
}
